language: node_js
node_js:
- '9'
script: echo "Running tests against $(node -v) ..."
jobs:
  include:
  - stage: npm latest
    node_js: '9'
    script: echo "Deploying to npm ..."
    deploy:
      provider: npm
      email: "$NPM_EMAIL"
      api_key: "$NPM_APIKEY"
      skip_cleanup: true
      on:
        tags: true
api_key:
  secure: Rs3koA6MLpzmqZRqOSG+8829gaN0q7uWyT8UxRJUWQih8/pl7pFI7IQl1xZky7cPLZoLHlupuyaM5XxahQ3S1B2eCeCe0V7M7OFRaVJztw1un6gSON9o05ub0RVjaSn+1Mhu40Ke0UAmt4wLEARhL57UabHtGBq5TAOzhlES/9edSotQJBpB/MqY6VWOlsgZU0ka+cFjsksZSMZl6iymSi2wwrI03YVzgxtppDFKexgnU7/7Nqroh7vTQADLkaV4Z2xFC6sn+DIgOlFDGk5wQ2BOyzYVfuzWFVsLGtD7BNe1BjJzz9XLets30/rDd0uO4N53NFpoJUbHF9V02xy9mdA76dZaDheFMw+35WiRUbkL+9rdhMefFLX5f/NxnFXR8h0Kr1vXROu4vf8h0/f98NySPavD0r+gTOPjPH1ra/vZeoKQqomynAvdQaKaLfYzCYxxjuVKb7EgZhCIg2vAC4W0xho6yW2K485lRmyH4lTFPRTo1V1DTaJM7kAdM85sn6vUWawbRJwRB7bZS0jSscAD4iscIdhifBdqTNunSWxKa58Qmd94udlEUdHl1oucPLdApFS6tLG7k4gVtBximOj1DDbISL5JE8KcdAjEblAKXXe9u4jI56BiGkJSavketUMMx0H4001zRa89ml4y3746eVxjjaow2AGF+HCInmw=
