language: node_js
node_js:
  - "7"

script: echo "Running tests against $(node -v) ..."

jobs:
  include:
    - stage: npm release
      node_js: "7"
      script: echo "Deploying to npm ..."
      deploy:
        provider: npm
        email: "574637316@qq.com"
        api_key: "37d9dd0f-870a-4695-a655-f8ff974c2217"
        branches: master