language: node_js
install:
  - npm install
script:
  - npm run dev
before_install:
  - "echo before_install"
before_script:
  - "echo 'before_script'"
before_deploy:
  - "echo before_deploy"
deploy:
  provider: npm
        email: "574637316@qq.com"
        api_key: "b66fe4c1-a1c4-4571-bd61-2339e20f1370"
        skip_cleanup: true
        on:
          tags: true
